<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myB">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="OneWay.PrintSomething" behaviorConfiguration="myB">
        <endpoint address="ep1" binding="wsHttpBinding" contract="OneWay.IPrintSomething"></endpoint>
        <endpoint address="mex" bindingConfiguration="" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10000/OneWay/PrintSomething/"/>
          </baseAddresses>
        </host>      
      </service>
    </services>
  </system.serviceModel>
</configuration>