<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
   <connectionStrings>
    <add name="testEntities" connectionString="metadata=res://*/BSModel.csdl|res://*/BSModel.ssdl|res://*/BSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BS.LinqToSql.Properties.Settings.testConnectionString"
        connectionString="Data Source=.;Initial Catalog=test;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>