<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
      <add name="ChatAPPServiceLib.Properties.Settings.ChatAPPConnectionString"
          connectionString="Data Source=(localdb)v11.0;Initial Catalog=ChatAPP"
          providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      
      
      <service name="ChatAPPServiceLib.Auth">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/ChatApp/"   />
          </baseAddresses>
        </host>
        <endpoint address="Auth" binding="netTcpBinding" contract="ChatAPPServiceLib.IAuth"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      
      
      <service name="ChatAPPServiceLib.Chat">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/ChatApp/"   />
          </baseAddresses>
        </host>
        <endpoint address="Chat" binding="netTcpBinding" contract="ChatAPPServiceLib.IChat"/>
        <endpoint address="mex1" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    
      
    </services>
   
    <behaviors>
      <serviceBehaviors> 
        <behavior>
          <serviceMetadata httpGetEnabled="false" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
  </system.serviceModel>
</configuration>