<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="Chat.Duplex">
        <endpoint address="http://localhost/Chat/ep1" binding="wsDualHttpBinding"
            bindingConfiguration="" contract="Chat.IDuplex" />
        
        <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://Localhost/Duplex" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>



</configuration>