<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.web>
    <!--<httpHandlers>
      <add />
    </httpHandlers>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="WorkCookieName" loginUrl="~/Login/LoginPage.aspx" timeout="30" slidingExpiration="true" protection="All">
      </forms>
    </authentication>


    <pages enableSessionState="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <!--<location path="~/CustomerProfile">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <connectionStrings>
    <add name="defaultConn" providerName="System.Data.SqlClient" connectionString="Data Source=10.7.1.10;Initial Catalog=VisitCardsViewer;User ID=sa;Password=123456;MultipleActiveResultSets=True;App=EntityFramework" />
  </connectionStrings>
</configuration>