<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <system.web>
    <compilation debug="true">
      
    </compilation>
  </system.web>
  
  
  <!--<system.serviceModel>  
    <services>
      <service  name ="ConsoleApplication1.MyMath">
        <endpoint address ="Ep1"
                  binding="wsHttpBinding"
          contract="ConsoleApplication1.IMyMath"/> 
        --><!-- в коді сервіса контракт позначений  [ServiceContract] по якій будемо збирати дані--><!-- 
    
         <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
            contract="IMetadataExchange" />
    
    </service>
      </services>
    
  </system.serviceModel>-->
  
</configuration>