<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
   <system.serviceModel>
    <services>
      
      
      <service name="ChatService.Auth">
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:8733/Design_Time_Addresses/ChatService/Service1/" />-->
            <add baseAddress="net.tcp://127.0.0.1/ChatApplication/"   />
          </baseAddresses>
        </host>
        <endpoint address="Auth" binding="netTcpBinding" contract="ChatService.IAuth">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>



      <service name="ChatService.Chat">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/ChatApplication/"   />
          </baseAddresses>
        </host>
        <endpoint address="Chat" binding="netTcpBinding" contract="ChatService.IChat">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex1" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
      
      
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
        <serviceMetadata httpGetEnabled="false" httpsGetUrl="" />
         <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
 
  <connectionStrings>
    <add name="ChatMessengerEntities" connectionString="metadata=res://*/ChatMessengerModel.csdl|res://*/ChatMessengerModel.ssdl|res://*/ChatMessengerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=ChatMessenger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>