<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILowLevelKeyboardListener" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10000/Client" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILowLevelKeyboardListener"
                contract="ServiceReference.ILowLevelKeyboardListener" name="BasicHttpBinding_ILowLevelKeyboardListener" />
        </client>
    </system.serviceModel>
</configuration>