<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGetDiskInfo" />
                <binding name="WSHttpBinding_IGetDiskInfo1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/GetDiskInfo/EP1" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGetDiskInfo" contract="ServiceReference1.IGetDiskInfo"
                name="WSHttpBinding_IGetDiskInfo">
                <identity>
                    <userPrincipalName value="myznikov@step.itstep.rv.ua" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/GetDiskInfo/EP1" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGetDiskInfo1" contract="ServiceReference2Async.IGetDiskInfo"
                name="WSHttpBinding_IGetDiskInfo1">
                <identity>
                    <userPrincipalName value="myznikov@step.itstep.rv.ua" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>